@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

$main-font:'Montserrat', sans-serif;

$white-mode-body:#ECECEC;
$main-white-background:#E2E2E2;
$white-mode-header:linear-gradient(90deg, #E2E2E2 0%, #E2E2E2 60%);

$toggle-menu-gradient:linear-gradient(90deg, #F24B28 0%, rgba(39, 39, 39, 0.7) 100%);

$baixo-divisor:1px 3px 3px -2px rgba(39,39,39,.4);
$baixo-lado-divisor:3px 2px 4px -2px rgba(39,39,39,.4);
$baixo-lado-exposto:1px 1px 1px 1px rgba(39, 39, 39, 0.66);

$main-black:#272727;

$switch-white-mode:linear-gradient(45deg, #F24B28 70%, #272727 90%);
$switch-dark-mode:linear-gradient(40deg, #F24B28 1%, #272727 50%);
