@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

$main-font:'Montserrat', sans-serif;

$white-mode-body:#ECECEC;
$main-white-background:#E2E2E2;
$white-mode-header:linear-gradient(90deg, #E2E2E2 0%, #E2E2E2 60%);

$toggle-menu-gradient:linear-gradient(90deg, #F24B28 0%, rgba(39, 39, 39, 0.7) 100%);
$anoitecer:linear-gradient(232deg,  rgba(39,39,39,.7) 60%, #F24B28 100%);
$alaranjado:#F24B28;

$baixo-divisor:1px 3px 3px -2px rgba(39,39,39,.4);
$baixo-lado-divisor:3px 2px 4px -2px rgba(39,39,39,.4);
$baixo-lado-exposto:1px 1px 1px 1px rgba(39, 39, 39, 0.66);

$nevoa-branca:0px 10px 5px -6px rgba(226,226,226,.44);

$main-black:#272727;

$switch-white-mode:linear-gradient(45deg, #F24B28 70%, #272727 90%);
$switch-dark-mode:linear-gradient(40deg, #F24B28 1%, #272727 50%);

$polygon-esquerdo-discreto:polygon(0 7%, 100% 0, 100% 100%, 0% 100%);

$polygon-ponta-dupla:polygon(100% 0, 100% 100%, 50% 71%, 0 100%, 0 0);
$polygon-ponta-unica:polygon(100% 0, 100% 100%, 0 46%, 0 0);

$polygon-bloco-maior:polygon(100% 0, 90% 100%, 0 100%, 0 0);
$alvorada:linear-gradient(90deg, #272727 30%, #F24B28 100%);

$sombra-baixa-direita:1px 1px 3px 0px rgba(39,39,39,.3);
$outside-gradient:linear-gradient(45deg, rgba(226, 226, 226, 1) 0%,rgba(226, 226, 226, 0) 70%);

$main-title-content:linear-gradient(45deg, #FF4F2B 0%, #272727 90%);

$white-mode-gradient:linear-gradient(0deg, rgba(226, 226, 226, 0) 0%, rgba(226, 226, 226, .6) 20%);

$amanhecer:linear-gradient(343deg, rgba(39, 39, 39, 1) 85%, rgba(255, 79, 43, 1) 100%);

$sombra-discreta:4px -3px 2px -2px rgba(39, 39, 39, .2);
$sombra-sutil:8px 5px 5px -3px rgba(39, 39, 39, .4);

$light-to-dark:linear-gradient(45deg, #E2E2E2 50%, transparent 100%);

$light-data: linear-gradient(45deg, #E2E2E2 85%, transparent 100%);

$light-to-little-dark:linear-gradient(0deg,
rgba(39, 39, 39, 0) 0%,
rgba(226, 226, 226, 1) 40%);

$sombra-exuberante:10px 10px 5px 0px rgba(39, 39, 39, .5);
$sombra-do-corpo:0px 34px 12px -15px rgba(39, 39, 39, .33);

$polygon-prancha:polygon(0 10%, 100% 0%, 100% 100%, 0 100%);

$main-green-background:#86C70F;
$polygon-detail:polygon(0 0, 100% 0, 77% 100%, 0% 100%);

$gradient-scrollbar:linear-gradient(349deg,rgba(39, 39, 39, 1) 0%,rgba(242, 75, 40, 1) 40%);

$linha-de-leitura:linear-gradient(270deg, #F24B28 0%, rgba(242,75,40,.5) 100%);
