@import 'config';
@import 'keyframes';

.header-fixo {
  background:$white-mode-header;
  width:100vw;
  position:fixed;
  top:.2rem;
  left:0;
  z-index:3;
  border-radius:0 0 1.3rem 0;
  box-shadow:$baixo-divisor;
  padding:.3rem 2rem .2rem 2rem;
  display:flex;
  justify-content:center;
  align-items:center;
  gap:28.6rem;

  &:before {
    content:'';
    position:fixed;
    top:0;
    left:0;
    width:100vw;
    height:.2rem;
    z-index:-1;
    background:$main-black;
  }

  .toggle-menu, .store {
    cursor:pointer;
  }

  nav {
    margin-left:.9rem;
  }
  
  .toggle-menu {
    height:2rem;
    background:none;

    div {
      background:$toggle-menu-gradient;
      width:1.7rem;
      height:.19rem;
      border-radius:0 0 .2rem 0;
      margin-top:-.5rem;
      transition:.3s;

      &:after {
        content:'';
        position:absolute;
        background:$toggle-menu-gradient;
        width:1.7rem;
        height:.19rem;
        border-radius:0 0 .2rem 0;
        margin-top:.6rem;
        margin-left:-1.4rem;
        transform:rotate(180deg);
        opacity:1;
        animation:show-menu-detail-after .3s forwards;
      }
    }
  }

  .toggle-menu.closed {
    div {
      transform:translateY(.3rem) rotate(-45deg);
      transition:.3s;

      &:after {
        opacity:0;
        animation:hide-menu-detail-after .3s forwards;
      }
    }
  }

  .menu {
    display:none;
  }

  .menu.active {
    background:$main-white-background;
    position:fixed;
    top:4.3rem;
    left:5.5rem;
    box-shadow:$baixo-lado-divisor;
    border-radius:.2rem;
    padding:1rem 2rem;
    list-style:none;
    display:grid;
    justify-content:center;
    gap:1.3rem;
    font-size:1rem;
    text-align:right;
    font-style:italic;
    color:$main-black;
    animation:show-menu .3s forwards;

    li:nth-child(1) {
      opacity:1;
      cursor:initial;

      &:after {
        content:'';
        position:absolute;
        background:$main-black;
        width:1rem;
        height:.08rem;
        margin-top:1.2rem;
        margin-left:-1rem;
        opacity:1;
      }
    }

    li {
      opacity:.7;
      transition:.3s;
      cursor:pointer;
    }

    li:nth-child(2) {
      &:hover {
        &:after {
          height:.08rem !important;
        }
      }
    } 

    li:nth-child(2)::after {
      height:1.4px !important;
    }

    li:nth-child(2)::after, li:nth-child(3)::after {
      content:'';
      position:absolute;
      background:$main-black;
      margin-top:1.2rem;
      margin-left:-1rem;
      animation:hide-detail .3s forwards;
    }

    li:nth-child(3)::after {
      height:1.6px;
    }

    li:nth-child(2), li:nth-child(3) {
      &:hover {
        opacity:1;
        transition:.3s;
    
        &:after {
          content:'';
          position:absolute;
          background:$main-black;
          height:.1rem;
          margin-top:1.2rem;
          margin-left:-1rem;
          animation:show-detail .3s forwards;
        }
      }
      
    }
  }

  #switch-container {
    background:none;
    width:3rem;
    height:.2rem;
    margin-left:.7rem;
    margin-top:1.2rem;

    .switch-shadow {
      position:absolute;
      margin-top:-1rem;
      margin-left:-1.5rem;
      opacity:.4;
      visibility:hidden;
      user-select:none;
      outline:none;
    }

    .switch-shadow + label {
      cursor:pointer;
    }

    .switch-shadow + label:before,
    .switch-shadow + label:after {
      width:2.5rem;
      height:1rem;
      display:block;
      margin-top:-1rem;
      content:'';
    }

    .switch-shadow + label:before {
      background:$switch-white-mode;
      box-shadow:$baixo-lado-exposto;
      border-radius:.7rem;
      transition:all .5s;
      right:1px;
    }

    .switch-shadow + label:after {
      background:#ECECEC;
      border-radius:1rem;
      width:1rem;
      height:1rem;
      margin-top:-1rem;
      transition:all .6s;
    }

    .switch-shadow:checked + label:before {
      background:$switch-dark-mode;
    }

    .switch-shadow:checked + label:after {
      transform:translateX(1.6rem);
    }
  }

  .logo {
    height:2.7rem;
  }

  .store {
    height:1.7rem;
    margin-top:-.2rem;
    opacity:.8;
    transition:.3s;

    &:hover {
      opacity:1;
      transition:.3s;
      transform:scale(1.1);
    }
  }
}

@media (min-width:86rem) {
  .menu.active {
    left:11vw !important;
  }
}
 
@media (max-width:80rem) {
  .menu.active {
    left:2vw !important;
  }
}

@media (max-width:73rem) {
  .header-fixo {
    justify-content:space-between;
    gap:0;
  }
}

@media (max-width:31.25rem) {
  .header-fixo {
    padding:.3rem 2rem .2rem .8rem;

    .store:hover {
      transform:none;
    }
  }
}
