@keyframes show-menu {
  from {
    transform:translateX(-2rem);
    opacity:0;
  }

  to {
    transform:translateX(0);
    opacity:1;
  }
}

@keyframes hide-menu {
  from {
    transform:translateX(0rem);
    opacity:1;
  }

  to {
    transform:translateX(-2rem);
    opacity:0;
  }
}

@keyframes show-detail {
  from {
    width:0;
  }

  to {
    width:1rem;
  }
}

@keyframes hide-detail {
  from {
    width:1rem;
  }

  to {
    width:0rem;
  }
}

@keyframes show-menu-detail-after {
  from {
    transform:translateX(2rem);
  }

  to {
    transform:translateX(0rem);
    opacity:1;
  }
}

@keyframes hide-menu-detail-after {
  from {
    transform:translateX(0);
    opacity:1;
  }

  to {
    transform:translateX(2rem);
    opacity:0;
  }
}

@keyframes hide-loading {
  from {
    background-position:200% 0%;
  }

  to {
    background-position:0% 0%;
  }
}

@keyframes show-loading {
  0% {
    background-position:0% 0%;
  }

  to {
    background-position:150% 0%;
  }
}

@keyframes show-checked {
  0% {
    opacity:0;
  }

  35% {
    opacity:0;
    transform:scale(0);
  }

  100% {
    opacity:1;
    transform:scale(1.1);
  }
}

@keyframes email-enviado {
  from {
    transform:translateX(-3rem);
    opacity:.0;
  }

  to {
    transform:translateX(0rem);
    opacity:1;
  }
}

@keyframes retira-mensagem {
  from {
    width:90%;
  }

  to {
    width:0%;
  }
}

@keyframes escurece-mensagem {
  from {
    opacity:1;
    right:.5rem;
  }

  to {
    opacity:0;
  }
}

@keyframes muda-texto {
  0% {
    content:'STYLE';
  }

  25% {
    content:'SPIRIT';
  }

  50% {
    content:'AUDACITY';
  }

  75% {
    content:'ELEGANCE';
  }

  100% {
    content:'STYLE';
  }
}

@keyframes live {
  0% {
    opacity:.2;
  }

  50% {
    opacity:.7;
  }

  100% {
    opacity:.2;
  }
}
