@keyframes show-menu {
  from {
    transform:translateX(-2rem);
    opacity:0;
  }

  to {
    transform:translateX(0);
    opacity:1;
  }
}

@keyframes hide-menu {
  from {
    transform:translateX(0rem);
    opacity:1;
  }

  to {
    transform:translateX(-2rem);
    opacity:0;
  }
}

@keyframes show-detail {
  from {
    width:0;
  }

  to {
    width:1rem;
  }
}

@keyframes hide-detail {
  from {
    width:1rem;
  }

  to {
    width:0rem;
  }
}

@keyframes show-menu-detail-after {
  from {
    transform:translateX(2rem);
  }

  to {
    transform:translateX(0rem);
    opacity:1;
  }
}

@keyframes hide-menu-detail-after {
  from {
    transform:translateX(0);
    opacity:1;
  }

  to {
    transform:translateX(2rem);
    opacity:0;
  }
}
