@media (max-width:74.5rem) {
  .content {
    width:95vw;
    padding:3rem 1rem;

    article {
      width:60rem;
    }
  }
}

@media (max-width:65.7rem) {
  .content {
    margin-bottom:1rem;

    header {
      gap:1.5rem;
    }

    article {
      width:100% !important;
    }

    .apresentacao {
      margin-bottom:3rem;
      display:flex;
      flex-wrap:wrap;
      justify-content:center;
    
      img, picture {
        width:100% !important;
        -webkit-clip-path:$polygon-duas-pontas;
        clip-path:$polygon-duas-pontas;
      }
    
      span {
        top:.5rem;
        max-width:31rem;
        text-align:center;
      }
    
      .federer-wimbledon, .guga-winner, .nadal-fran-05 {
        left:0rem;
      }
    }

    .dados {
      margin-top:3rem;
      display:flex;
      gap:4rem;
      flex-wrap:wrap;
      justify-content:center;

      ul {
        max-width:29rem;
      }

      div {
        width:35rem;
      }

      img {
        width:100%;
      }
    }

  }
}

@media (max-width:53.2rem) {
  .content {
    header {
      
      justify-self: left;
    }

    .dados {
      div {
        max-width:35rem;
      }
    }

    .recomendacoes {
      display:grid;
      gap:1rem;
    }
  }
}

@media (max-width:45.7rem) {
  .content {
    padding-left:.5rem;
    padding-right:.5rem;

    header {
      justify-self:center;
      display:grid;
    }

    .apresentacao {
      span {
        top:0;
      }
    }

    .dados {
      ul {
        width:90% !important;
        padding-left:2rem;
        font-size:1rem;
      }

      div {
        margin-top:-1.5rem;
        width:100% !important;
      }

      img {
        height:20rem;
      }
    }
  }
}

@media (max-width:31.5rem) {
  .content {
    width:98vw;

    header {
      margin-left:0;

      h1 {
        font-size:2.5rem;
        letter-spacing:.1rem;
      }

      span {
        font-size:.8rem;
      }

      nav {
        gap:1.5rem;
      }

      ul {
        width:7rem;
        height:5rem;
        padding:.2rem .4rem .3rem .4rem;
        gap:.2rem;

        li:nth-child(2) {
          font-size:.8rem;
        }
      }

      .totalGrandSlams, .totalTitulos {
        font-size:1.5rem !important;
      }
    }

    .apresentacao {
      span {
        width:90% !important;
        font-size:.9rem;
      }
    }

    .frase {
      box-shadow:none;
      width:100% !important;
      font-size:1.1rem !important;
      padding:2rem 1rem 2rem 1rem !important;
      text-align:right !important;
    }

    .dados {
      ul, div {
        width:100% !important;
      }

      ul {
        box-shadow:none;
      }

      img {
        height:12rem;
      }
    }

    .recomendacoes {
      #divisor {
        margin-top:-6rem;
      }

      img {
        width:100%;
      }

      .ao-vivo {
        figcaption {
          display:none;
        }
      }
    }

  }
}

@media (max-width:23.2rem) {
  .recomendacoes {
    #divisor {
      margin-top:-6rem;
    }
  }
}
