@import 'config';

* {
  margin:0;
  border:0;
  padding:0;
  box-sizing:border-box;
  font-family:$main-font;
}

body {
  background:$white-mode-body;
  width:100vw;
  position:absolute;
  top:0;
  left:0;
  overflow-y:auto;
  overflow-x:hidden;
}

@import 'header';

@import 'tenistas';

@import 'content';

@import 'footer';
