@import 'config';

* {
  margin:0;
  border:0;
  padding:0;
  box-sizing:border-box;
  font-family:$main-font;
}

body {
  background:$white-mode-body;
  overflow-y:auto;
  overflow-x:hidden;
  scrollbar-width:thin;
  scrollbar-color:#7c6a6a;

  &::-webkit-scrollbar {
    width:.43rem;
  }

  &::-webkit-scrollbar-track {
    background:$main-black;
  }

  &::-webkit-scrollbar-thumb {
    background:$gradient-scrollbar;
    background:$gradient-scrollbar;
    border-radius:0 0 0 .1rem;
    border:.375rem solid $gradient-scrollbar;
  }

  .linha-de-leitura {
    background:$main-black;
    background-image:$linha-de-leitura;
    position:fixed;
    top:0;
    left:0;
    width:0vw;
    height:.2rem;
    z-index:10;
  }

  .volta-pro-topo {
    right:-5rem;
  }

  .volta-pro-topo.active {
    position:fixed;
    bottom:4rem;
    padding:.5rem .25rem;
    border-radius:.3rem .3rem 0 0;
    cursor:pointer;
    display:grid;
    align-content:center center;
    transition:.3s !important;
    animation:mostra-button-pro-topo .6s linear forwards;
    z-index:10;

    img {
      opacity:.6;
    }

    &:hover {
      transition:.3s !important;

      img {
        animation:indicador .9s linear infinite;
        opacity:1;
        transition: .3s !important;
      }
    }
  }
}

@import 'header';
@import 'tenistas';

@import 'content';
@import 'querie-content';
@import 'recomendacoes';

@import 'footer';
